$colorBlack: #1A202C;
$colorWhite: #FFF;
$colorGrey: rgb(100, 99, 99);

$colorSpan: #4A5568;
$colorInputText: #2D3748;
$colorBorderInput: #e8e8e8;
$colorInputHover: rgba(211, 211, 211, 0.836);

$colorBtn1: #04C35C;
$colorBtn2: #2D3748;














